:global {
  /* Tab Bar */
  .tabs {
    border-bottom: 1px solid #dddde5;
    display: block;
    height: 100%;
    margin-bottom: 30px;
    text-align: left;
  }

  .tabs__tab {
    display: inline-block;
    height: 100%;
    padding-bottom: 10px;
    text-align: center;
  }

  .tabs__tab:hover,
  .tabs__tab--selected {
    border-bottom: 4px solid #6184e9;
    text-decoration: none;
  }

  .tabs__tab__inner {
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 0 24px;
    text-decoration: none;
    text-transform: capitalize;
  }
}
