job-application-tab {
  .job-application-section {
    border: 1px solid #cecece;
    background-color: #f6f5f4;
  }

  hr {
    margin: 15px;
    color: transparent;
  }

  .details-column {
    min-width: 450px;
  }
}
