job-application-tab {
  .tab {
    height: 100%;
  }

  .details-column {
    width: 350px;
  }

  .search-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    .search-input {
      width: 200px;
    }
  }
}

:global {
  .actions-table {
    .actions {
      text-align: center;
      font-size: 1.25em;
    }
  }
}
