<import from="./../../company-details/company-details"></import>
<import from="./../../job-details/job-details"></import>


<div class="row tab">
  <div class="details-column col-4 pe-2">
    <job-details job.bind="jobApplication.job" class="job-application-section"></job-details>
    <hr>
    <company-details company.bind="jobApplication.company" class="job-application-section"></company-details>
  </div>

  <div class="actions-column col">
    <fieldset class="p-2 pt-4 actions-fieldset">
      <legend class="pt-0 fieldset-header">Actions</legend>

      <div class="search-row">
        <button type="button" class="btn btn-outline-secondary" title="Create new action"><i class="fa fa-file"></i>
          New</button>
        <search-input class="search-input" value.bind="searchText"></search-input>
      </div>

      <data-table class="actions-table" table-headers.bind="actionsTableHeaders"
        data-model.bind="jobApplication.actions" search.bind="searchText">
        <template au-slot="row">
          <td>
            ${$host.item.createdAt.format("DD/mm/YYYY")}
          </td>
          <td>
            ${$host.item.contactMethod}
          </td>
          <td>
            ${$host.item.contactPerson.name}
          </td>
          <td class="text-center">
            <i
              class="fas fa-${$host.item.requiresFollowup ? 'check' : 'times'}-circle text-${$host.item.requiresFollowup ? 'success' : 'danger'}"></i>
          </td>
          <td class="actions">
            <icon-menu items.bind="menuItems" data-model.bind="$host.item">
              <template au-slot><i class="far fa-ellipsis-v"></i></template>
            </icon-menu>
          </td>
        </template>
      </data-table>
    </fieldset>
  </div>
</div>
