<require from="./sort-icon/sort-icon"></require>

<div class="table-responsive">

  <table class="table ${tableClass} ${hoverable ? 'hoverable' : ''}">
    <au-slot name="thead">
      <thead class="table-header">
        <tr>
          <th repeat.for="header of tableHeaders" class="${header.class}">
            <au-slot name="header" expose.bind="{ header, $event, $odd, $index }">
              <a class="no-decorate" href="#" click.trigger="sortOn(header)">
                ${header.displayName}

                <sort-icon if.bind="header.isSortable" sorting.bind="header == sortingHeader"
                  ascending.bind="sortAscending">
                </sort-icon>
              </a>
            </au-slot>
          </th>
        </tr>
      </thead>
    </au-slot>

    <tbody class="table-body ${item == selectedRowModel ? 'selected' : ''}">

      <tr repeat.for="item of dataModel
          | filter:filterOn.bind($this)
          | filter:searchOn.bind($this)
          | sort:(sortingHeader.sortValueGetter || sortingHeader.propertyGetter):sortAscending" tabindex="0"
        click.trigger="selectRow(row, $event)" keypress.trigger="keyboardHandler(item, $event)"
        class="${tableBodyRowClass} ${selectable && item == selectedRowModel ? 'selected':''}"
        expose.bind="{ item, $event, $odd, $index }">
        <!-- https://aurelia.io/docs/binding/basics#contextual-properties -->
        <template as-element="au-slot" name="row"></template>
      </tr>

      <template if.bind="showEmptyState" class="empty-row ${tableBodyRowClass}">
        <template as-element="au-slot" name="empty-row">
          <tr>
            <td></td>
          </tr>
        </template>
      </template>
    </tbody>

    <tfoot class="table-footer">
      <au-slot name="footer">
        <tr>
          <th></th>
        </tr>
      </au-slot>
    </tfoot>
  </table>

</div>
