<require from="./../../application-statistic/application-statistic"></require>

<fieldset class="p-2 pt-4 statistics-fieldset">
  <legend class="pt-0 fieldset-header">Applications Statistics</legend>

  <div class="row row-cols-4 g-4">
    <application-statistic title="Job Application Count" text.bind="applicationRepository.jobApplicationCount"
      icon="<i class='fas fa-angle-up'></i>">
    </application-statistic>

    <application-statistic title="Applied Company Count" text.bind="companyRepository.companyCount"
      icon="<i class='fas fa-cube img-fluid rounded-start'></i>">
    </application-statistic>

    <application-statistic title="Job Applications Requiring Follow-up" text.bind="applicationsRequiringFollowup"
      icon="<i class='fas fa-cube img-fluid rounded-start'></i>">
    </application-statistic>

    <application-statistic title="Job Actions Requiring Follow-up" text.bind="actionsRequiringFollowup"
      icon="<i class='fas fa-angle-up'></i>">
    </application-statistic>
  </div>
</fieldset>

<hr>

<fieldset class="p-2 pt-4">
  <legend class="pt-0 fieldset-header">Job Applications</legend>

  <data-table table-headers.bind="jobApplicationTableHeaders" data-model.bind="jobApplications">
    <template au-slot="row">
      <td>
        ${$host.item.createdAt.format("DD/mm/YYYY")}
      </td>
      <td>
        ${$host.item.job.title}
      </td>
      <td>
        ${$host.item.company.name}
      </td>
      <td>
        <span
          if.bind="$host.item.company && $host.item.company.contactPeople.length > 0">${$host.item.company.contactPeople[0].name}</span>
        <span else>-</span>
      </td>
      <td class="text-center">
        <i
          class="fas fa-${$host.item.requiresFollowup ? 'check' : 'times'}-circle text-${$host.item.requiresFollowup ? 'success' : 'danger'}"></i>
      </td>
      <td>
        ellipsis-menu
      </td>
    </template>
  </data-table>
</fieldset>
