<div class="row row-cols-2 g-4">

  <div class="col">
    <div class="card h-100">
      <div class="row g-0">
        <div class="col-md-4">
          <i class="fas fa-angle-up"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Job Application Count</h5>
            <p class="card-text">
              ${applicationRepository.jobApplicationCount}</p>

            <p>
              <!-- <salary-range></salary-range> -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="row g-0">
        <div class="col-md-4">
          <i class="fas fa-cube img-fluid rounded-start"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Applied Company Count</h5>
            <p class="card-text">${companyRepository.companyCount}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="row g-0">
        <div class="col-md-4">
          <i class="fas fa-cube img-fluid rounded-start"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Job Applications Requiring Follow-up</h5>
            <p class="card-text">${applicationsRequiringFollowup}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="row g-0">
        <div class="col-md-4">
          <i class="fas fa-angle-up"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Job Actions Requiring Follow-up</h5>
            <p class="card-text">${actionsRequiringFollowup}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<fieldset class="p-2 pt-4">
  <legend class="pt-0 fieldset-header">Job Applications</legend>

  <data-table table-headers.bind="jobApplicationTableHeaders" data-model.bind="jobApplications">
    <template au-slot="table-row">
      <tr>
        <td>
          ${$host.item.createdAt.format("DD/mm/YYYY")}
        </td>
        <td>
          ${$host.item.job.title}
        </td>
        <td>
          ${$host.item.company.name}
        </td>
        <td>
          <span
            if.bind="$host.item.company && $host.item.company.contactPeople.length > 0">${$host.item.company.contactPeople[0].name}</span>
          <span else>-</span>
        </td>
        <td>
          <i
            class="fas fa-${$host.item.requiresFollowup ? 'check' : 'times'}-circle text-${$host.item.requiresFollowup ? 'success' : 'danger'}"></i>
        </td>
        <td>
          ellipsis-menu
        </td>
      </tr>
    </template>
  </data-table>
</fieldset>
