/* Tabbed section (individual wrapped container) */
tab-section {
  display: block;
  padding: 10px;

  .tab-sections__tab-section {
    display: none;
  }

  .tab-sections__tab-section--active {
    display: block;
  }
}
