:global {
  /* Tabbed section (individual wrapped container) */
  .tab-sections__tab-section {
    display: none !important;
    padding: 30px 10px 0;
  }

  .tab-sections__tab-section--active {
    display: block !important;
  }
}
