:global {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

  // @fa-font-path: "/assets/webfonts/";

  * {
    position: relative;
  }

  body {
    height: 100vh;
    font-size: 14px !important;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
      "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji" !important;
    line-height: 1.2 !important;
    background-color: #f5f5f5 !important;
  }

  .status-bar {
    padding: 10px;
  }

  fieldset {
    position: relative;
    display: block;
    border: 1px solid #cecece;

    legend.fieldset-header {
      top: -0.8em;
      left: 5px;
      position: absolute;
      font-size: 1em;
      background-color: #fff;
      padding: 2px 10px;
      width: auto;
      user-select: none;
      border: 1px solid #cecece;
    }

    label {
      text-transform: uppercase;
      margin-bottom: 2px !important;
      font-size: 0.75em !important;
    }
  }

  .form-control:focus {
    box-shadow: none !important;
  }

  :focus {
    outline-color: #86b7fe;
  }

  .actions-column {
    height: 100%;
  }

  data-table {
    overflow: scroll;
  }

  data-table,
  main,
  .tab-sections,
  .tab-sections__tab-section,
  job-application-tab,
  fieldset {
    height: 100%;
  }

  .no-decorate {
    text-decoration: none;
    color: unset;

    &:hover,
    &:focus {
      text-decoration: none;
      color: unset;
    }
  }

  hr {
    margin: 15px;
    color: transparent;
  }
}
