<form>
  <fieldset class="p-2 pt-4">
    <legend class="pt-0 fieldset-header">Company Details</legend>

    <div class="row mb-2">
      <div class="col">
        <label for="companyName" class="form-label text-muted">Business Name</label>
        <input value.bind="company.name" type="text" class="form-control" id="companyName">
      </div>

      <div class="col">
        <label for="companyPhone" class="form-label text-muted">Phone</label>
        <input value.bind="company.phone" type="text" class="form-control" id="companyPhone">
      </div>
    </div>

    <div class="mb-2">
      <label for="companyEmail" class="form-label text-muted">Email</label>
      <input value.bind="company.email" type="text" class="form-control" id="companyEmail">
    </div>

    <div class="mb-2">
      <label for="companyUrl" class="form-label text-muted">Website</label>
      <input value.bind="company.url" type="text" class="form-control" id="companyUrl">
    </div>


    <div class="mb-2">
      <label for="companyComments" class="form-label text-muted">Notes</label>
      <textarea value.bind="company.comments" class="form-control" id="companyComments" rows="3"></textarea>
    </div>
  </fieldset>
</form>
