<div class="btn-group ${dropDirection}">
  <button if.bind="button" type="button" class="btn ${btnClass} dropdown-toggle ${!caret ? 'no-caret' : ''}"
    id.bind="id" data-bs-toggle="dropdown" disabled.bind="disabled" aria-expanded="true" aria-haspopup="true">
    <au-slot></au-slot>
  </button>
  <a else href="#" class="dropdown-toggle no-decorate ${!caret ? 'no-caret' : ''}" disabled.bind="disabled" id.bind="id"
    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <au-slot></au-slot>
  </a>

  <ul class="dropdown-menu ${dropAlignment}" aria-labelledby.bind="id">
    <li repeat.for="item of items" switch.bind="item.type">

      <h6 case="MenuItemHeader" class="dropdown-header ${class}" click.trigger="onItemSelect(item, $event)">
        ${item.displayName}</h6>

      <a case="MenuItem" class="dropdown-item ${class}" href="#" disabled.bind="item.disabled"
        aria-disabled.bind="item.disabled" tabindex="${item.disabled ? -1 : 1}"
        click.trigger="onItemSelect(item, $event)">${item.displayName}</a>

      <hr case="MenuItemDivider" class="dropdown-divider">

    </li>
  </ul>
</div>
